  <footer class="page-footer" style="background-color: #F9771A;">
    <div class="container">
      <div class="row">
        <div class="col l6 m6 s12 black-text">
          <h5>Haptically Speaking</h5>
          <p>Making the universe accessible to those with visual impairments. If you are interested in getting any of our books, feel free to <a href="mailto:hapticallyspeaking@gmail.com" class="black-text">contact us</a>!</p>
        </div>
        <div class="col l4 m4 s12 right black-text">
          <h5>Our Books</h5>
          <ul>
            <li>&nbsp;&nbsp;- <a class="black-text" href="/resources#eclipses">Eclipses</a></li>
            <li>&nbsp;&nbsp;- <a class="black-text" href="/resources#mars-science-laboratory">Mars Science Rover</a></li>
            <li>&nbsp;&nbsp;- <a class="black-text" href="/resources#lunar-craters">Lunar Craters</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container">
            <div>
                Made by <a style="color: #fa8a39;" target="_blank" href="https://github.com/fhightower">Floyd Hightower</a>
                <span style="text-align: right; float: right">
                Copyright © 2018 <a style="color: #fa8a39;" href="http://hapticallyspeaking.com">Haptically Speaking</a>
                </span>
            </div>
        </div>
    </div>
</footer>