---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center grey-text text-darken-4">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>

      <div class="row center">
        <a href="http://hapticallyspeaking.com/resources/" id="resources-button" class="btn-large" style="background-color: #E37222">View Resources</a>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row center m6 l5 xl4">
        <video width=100% height=100% controls class="materialboxed">
          <source src="/media/Getting-A-Feel-For-Lunar-Craters-WJET-6-PM-News.mp4" type="video/mp4" alt="This is an interview with Dr. David Hurd, the lead product manager at Haptically Speaking, that details what Haptically Speaking does and why Dr. Hurd started this company.">
          Your browser does not support the video tag :(  Try using a browser like Google Chrome or Firefox.
        </video>
      </div>
    </div>
  </div>
